/** 
 * Firefox OSX Findbar on top - Safari style
 **
 * <p>Moves the Find-/Addon-(aka Status-)/InspectBar just below the top toolbars. If you, like me, don't use the addonbar this is great.</p>
 * <p>None of the other styles worked, floating style like chrome seems impossible (ui not updating correctly). So i made this.</p>
 * <p>Tested on Firefox 13 & 15 on OSX. <b>Not compatible with Windows.</b>
 * <p>Other styles from user 142430</p>
 **
 */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) 
{    
    /*** move findbar, addonbar & inspectbar to top ***/
    /* #1 : can't remove navbar border-bottom while showing addon/find/inspect-bar
    /* #2 : can't just move one bar cause position:fixed doesn't render on :hover, textinput, ... */
    #browser-bottombox { -moz-box-ordinal-group: 2 !important; }
    #browser           { -moz-box-ordinal-group: 3 !important; }
    #addon-bar         { -moz-box-ordinal-group: 1 !important; }
    #FindToolbar       { -moz-box-ordinal-group: 2 !important; }
    /* adjust border & paddings for top location */
    #inspector-toolbar,
    #FindToolbar       { border-top-width: 0px !important; }
    #FindToolbar       { border-bottom: 1px solid rgba(136, 136, 136, 1) !important; }
    #inspector-toolbar { border-bottom: 1px solid rgba(11, 12, 13, 0.65) !important; }
    #addon-bar         { -moz-appearance: toolbar !important; }
    #FindToolbar {
        height: 27px !important;
        padding-bottom: 4px !important;
        width: 100%;
    }
    /* hide "Find:" text */
    .findbar-closebutton + label {
        display: none !important;
    }
    /* layout findbar in reverse (right to left) */ 
    #FindToolbar > hbox {
        -moz-box-direction: reverse !important;
    }
    .findbar-find-previous:-moz-locale-dir(ltr),
    .findbar-find-next:-moz-locale-dir(rtl) {
        border-right: none !important;
        margin-right: 0 !important;
        border-radius: 10px 0px 0px 10px !important;
    }
    .findbar-find-next:-moz-locale-dir(ltr),
    .findbar-find-previous:-moz-locale-dir(rtl) {
        border-radius: 0px 10px 10px 0px !important;
        margin-left: 0 !important;
        margin-right: 4px !important;
        border-right-width: 1px !important;
        border-right-style: solid !important;
    }/**/
    
    /*** fix osx notification & findbar button borders ***/
    .findbar-find-next,
    .findbar-find-previous,
    .findbar-highlight {
        border-color: #7A7A7A !important;
    }
    notification > button:not(:active), notification > button:active:not(:hover) {
        border-color: #222 !important;
    }
}