/** 
 * Firefox OSX panorma/tabcandy - better space usage
 **
 * <ul>
 * <li>Reduces padding around the favicon so one can actually see the preview image.</li>
 * <li>Allows two lines for page titles.</li>
 * <li>Always use the smallest font.</li>
 * <li>Makes the preview image slightly larger(probably just interpolation).</li>
 * </ul>
 * <p>Tested on Firefox 13 & 15 on OSX. <b>Does not work on Windows!</b> (FF12)</p>
 * <p>Other styles from user 142430</p>
 **
 */
@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document url(chrome://browser/content/tabview.html) {
    /*** show more title ***/
    .tab-title { font-size: 9px !important; }
    
    /*** smaller favicon bezel ***/
    .tab .favicon { padding: 2px !important; }
    
    /*** improve thumbnail size ***/
    .tab {
        border-radius: 0px !important;
        border: none !important;
    }
    .tab .thumb {
        position: static !important;
    }
    .tab.focus {
        box-shadow: 1px 1px 6px 1px -moz-mac-menuselect !important;
    }
    .tab .favicon {
        top: 0px !important;
        left: 0px !important;
    }
    .tab.focus .favicon {
        top: 1px !important;
        left: 1px !important;
        padding: 1px 2px 2px 1px !important;
    }
    .tab .close {
        top: 2px !important;
        right: 0px !important;
    }
    /*** improve shown title ***/
    .tab .tab-title {
        left: 0px !important;
        width: 100% !important;
        bottom: -27px !important;
        white-space: pre-line !important;
        max-height: 23px;
        -moz-hyphens: auto;
        word-wrap: break-word;
    }
    
    .tab .thumb > *,
    .tab .favicon {
        border-radius: 0px !important; /* remove radius */
    }
}