/** 
 * Firefox OSX Stylish Editor Compact
 **
 * <p>Removes paddings & margins, shows style URL and merges Name & Tags onto one line, as well as editor tools & url.</p>
 * <p>Tested on Firefox 13 & 15 on OSX. <b>Untested otherwise!</b></p>
 * <p>Other styles from user 142430</p>
 **
 * <p>Credits go mostly to style 17742 and style 48735</p>
 */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url-prefix(chrome://stylish/content/edit.xul)
{
    /* Remove window margins */
    dialog { padding: 0 !important; }
    
    /* Put name & tags on one line */
    #stylish > vbox > grid > rows {
        -moz-box-orient: horizontal !important;
        -moz-box-flex: 1 !important;
    }
    #stylish > vbox > grid {
        display: -moz-box !important;
    }
    #stylish > vbox > grid > rows > row:first-child {
        -moz-box-flex: 3 !important;
        min-width: 200px !important;
    }
    #stylish > vbox > grid > rows > row:last-child {
        -moz-box-flex: 1 !important;
    }

    /* Remove line & space above top button row */
    #editor-tools {
        border-top: 0px !important;
        padding-top: 0px !important;
        margin-top: 0px !important;
    }

    /* Show Update-URL */
    #update-url { 
        display: block !important;
        -moz-appearance: dialog !important;
    }
    #update-url > hbox { width: -moz-calc(100% - 25px - 2em) !important; }
    #update-url::before { 
        content:"URL";
        padding: 0 23px 0 2px !important;
    }
    
    /* editor tools & url on same line */
    #update-url { margin: 3px 0 -21px 9em !important; }
    #update-url::before { padding-right: 13px !important; }

    
    /* Stlye-name in bold, Colorize Tags & URL */
    #name .textbox-input-box { font-weight:bold !important; }
    #tags { color: #008C00 !important; }
    #update-url > hbox { color:blue !important; }
    /**/
}