/** 
 * userstyles.org : fix edit & small width style
 **
 * <ul>
 * <li>Below 1040px width: sidebar becomes a topbar.</li>
 * <li>In Edit Mode: prevent textarea from overflowing to the right by limiting pictures to ~50x50px. Just hover over them to get a 100% preview.</li>
 * <li>Increase textarea minimum height.</li>
 * </ul>
 * <p>Tested on Firefox 13 & 15 on OSX.</p>
 * <p>Other styles from user 142430</p>
 **
 * 2012-06-07: Removed right align of image in small mode.
 * 2012-06-07: Improved styles table layout in "My Account" for widths < 1300px.
 */
@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain(userstyles.org) 
{
    @-moz-document regexp(".*/(edit|new)")
    {
        /* make space by removing sidebar *
        #content-wrapper  { float: none !important; }
        #left-sidebar { display: none !important; }
        #main-article { margin: 0 !important; }
        
        /* improve size of input fields */
        textarea { min-height: 100px; max-width: 1200px; }
        #style_long_description:focus { min-height: 400px; }
        #style_additional_info:focus { min-height: 400px; }
        #css:focus { min-height: 600px; }
        input[name="style[screenshot_url_override]"] { width: -moz-calc(100% - 22em); }
        input[name="style[before_screenshot]"] { }
        input[name="style[after_screenshot]"] { }
    }
    @-moz-document regexp(".*/edit")
    {
        /* resize image display */
        .form-controls td > dl > * { height: 54px; }
        .form-controls td > dl > dt { float: left; min-width: 4em; }
        .form-controls td > dl > dd > img { float: left; max-height: 50px; margin-right: 8px; }
        .form-controls td > dl > dd > img + br { display: none; }
        .form-controls td > dl > dd > input[type="checkbox"] { margin: 0 0 6px -2px; }
        
        .form-controls table td > img { max-height: 19px; }
        .form-controls table { border-spacing: 0 !important; }
        
        .form-controls table td:hover > img,
        .form-controls td > dl > dd:hover > img {
            overflow: auto !important;
            z-index: 1 !important;
            outline: 3000px solid rgba(0,0,0,.5)!important; /*pseudo background color */
            position: fixed !important;
            max-width: 100%  !important;
            max-height: 90% !important;
            top: 0; right: 0; bottom: 0; left: 0;
            margin: 0 auto auto !important;
        }
    }
    @media all and (max-width: 1040px)
    {   /* left sidebar horizontal */
        #main-header { margin-left: 0px !important; }
        #left-sidebar { width: 100% !important; }
        #left-sidebar, #related ul, #search-options { background-color: #D1EEEE; border-radius: 5px 5px 5px 5px; }
        #left-sidebar form > br, #related ul { display: none; }
        #left-sidebar nav ul, #left-sidebar nav li, #related h2 { display: inline !important; }
        #left-sidebar nav li::after { content: " |"; }
        #left-sidebar > * { padding: 0 !important; }
        #left-sidebar nav, #related { float: left; padding-top: 2px !important; }
        #left-sidebar form { float: right; }
        #related:hover ul { position: fixed; display: block; padding: 5px !important; }
        #main-article { margin: 42px 0 0 !important; }
        #search-options[style="display: block;"] { position: fixed; right: 8px; padding: 8px; margin: 0 !important; }
        /* float text around images on search results */
        .listing-left-info { margin-right: 10px !important; }
        .style-brief-text  { margin-left: 0 !important; }
    }
    @media all and (max-width: 665px)
    {   /* show description below image */
        #left-info { float: right !important; margin-left: 5px !important; }
        #style-info { margin-left: 0 !important; padding-left: 0 !important; }
    }
    @media all and (max-width: 600px)
    {
        #main-article { margin-top: 67px !important; }
    }
    @media all and (max-width: 1300px)
    {
    table.author-styles > thead > tr > th:nth-child(4) { width: 5em; }
    table.author-styles > thead > tr > th:nth-child(3),
    table.author-styles > thead > tr > th:nth-child(5) { width: 2em; }
    table.author-styles > thead > tr > th:nth-child(2),
    table.author-styles > thead > tr > th:nth-child(6) { width: 8.5em; }
    }
}