@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain(addons.mozilla.org) {
    #global-header-tab { position: absolute; }
    #aux-nav {
        float: left !important;
        margin-left: 120px !important;
    }
    .header-search { top: 33px !important; }
    h1.site-title { display: none !important; }
    #site-nav { margin-left: 16px !important; }
        
    @media all and (min-width: 1010px) {
        #masthead { /*padding-left: 210px !important;*/ }
        .header-search { top: 18px !important; }
    }
    @media all and (max-width: 1010px) {
        #masthead { padding-top: 65px !important; }
        #page {
            max-width: 750px !important;
            width: 750px !important;
        }
        #side-nav { display: none !important; }
        #homepage { margin-left: 0px !important; }
        #win-tablet {
            position: absolute;
            right: 0px;
            top: 900px;
        }
    }
    #footer { display: none !important; }
}