@namespace html url(http://www.w3.org/1999/xhtml);
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@-moz-document url(chrome://browser/content/browser.xul)
{
    /*** s4e highlighted url (broken) ***
    .urlbar-over-origin-box { opacity: 0 !important; }
    .urlbar-input-layer html|input.urlbar-input { color: black !important; }
    
    /*** condensed navbar ***
    #nav-bar { padding: 1px 4px !important; }
    
    /*** always show alltabs button ***/
    #alltabs-button { visibility: visible !important; }
    
    /********* URL BAR *********/
    /* hide identity labels (&border&padding) for verified domains */
    #identity-icon-labels { display: none !important; }
    #identity-box { padding-right: 0 !important; background-image: none !important; }
    
    /* remove bookmark star */
    #star-button { display: none !important; }
    
    /* hide drop marker */
    /*#urlbar .autocomplete-history-dropmarker { display: none !important; }*/
    
    /* always show right border on indentity box *
    #identity-box {
        -moz-padding-end: 4px !important;
        background-image: -moz-linear-gradient(hsla(92,81%,16%,0),
                                               hsla(92,81%,16%,.2) 25%,
                                               hsla(92,81%,16%,.2) 75%,
                                               hsla(92,81%,16%,0));
        background-position: right;
        background-size: 1px;
        background-repeat: no-repeat;
    }
    
    /********* SEARCH BAR *********/
    /* hide go button (looking glass) */
    .search-go-button { display: none !important; }
}
        