@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);


@-moz-document url(chrome://pano/content/sidebar.xul), url(chrome://browser/content/browser.xul)
{
    /*** more flexible & compact sidebar ***/
    #sidebar { min-width: 80px !important; max-width: none !important; }
    #sidebar-header { display: none !important; }

/*
love your addon!!! especially the css editor is cool!

- [?Bug?] switching to tab in other tabgroup takes ≥3sec! ffx issue? have ~1000tabs.
- [Feature] single click on tabgroup expands/collapses it
- [Feature] add dropdown menu with tabgroups to toolbar (to restrict list/filter to a tabgroup)
- [Feature] add a new tabgroup & newtab button to the toolbar
- [Feature] show unread/loaded/total tab-count after tabgroup name
- [Feature] hide hibernate context menu option for active tab
- [Feature] option-cmd-p opens panel instead of sidebar
- [Feature] pin tabgroup at top of sidebar "iOS" style
- ??[Feature] auto expand current tabgroup & focus on current tab???
- [UI-Fix@macOSX] #panoTabGroupTree { margin: 0px; -moz-appearance: none; }
- [UIFix@macOSX14b] .pano-tree treechildren::-moz-tree-image(group, primary) { -moz-image-region: rect(3px, 37px, 19px, 23px); }
- [UI-Fix] remove "selected tab(s)" text from close context menu option
- [UI-Fix] style panel like sidebar
- [UI-Feature] show whole title (inplace!), url below & preview next to the panel/sidebar (with arrow, like popover).
- ?[Feature] when filtering sort by tabgroup?
- [Feature] add auto-hibernate via timer
- [Bug] Hibernate closes tabs: *sometimes* when i hibernate tabs, they get sort-of closed. That is they appear in the recently closed tabs menu & vanish from the tabbar. However in pano sidebar they appear outside of any group. After a browser restart they appear again in the tabbar at a random(?) position & in a random(?) tabgroup. 
- ?[UI-Fix] merge top toolbar with #sidebar-header?
*/

    /*** remove sidebar padding & border ***/
    #panoTabGroupTree {
        margin: 0px !important;
        -moz-appearance: none !important;
    }

    /*** hide pano context menu entries ***/
    #panoContextMenu_newTab,
    #panoContextMenu_reloadAllTabs image,
    #panoContextMenu_bookmarksAllTabs,
    #panoContextMenu_newGroup,
    #panoContextMenuSep,
    #panoContextSubFrameMenu,
    #panoContextMenu_toolbar,
    #panoContextMenu_toolbar + menuseparator,
    #panoContextMenu_sidebarClose { visibility: collapse !important; }
    
    /*** remove icon from groups ***/
    .pano-tree treechildren::-moz-tree-image(group, primary) {
        -moz-image-region: rect(3px, 37px, 19px, 23px); /*fix icon*/
        width: 0px !important;
    }
    /*** remove padding from dropdown marker ***/
    .pano-tree treechildren::-moz-tree-twisty {
        margin-right: -4px !important;
    }
    
    /*** remove indendation ***/
    .pano-tree treechildren::-moz-tree-indentation {
        width: 0px !important;
    }
    .pano-tree treechildren::-moz-tree-cell(item) {
        margin-left: -14px !important;
    }
        
    /*** don't underline on hover ***/
    .pano-tree treechildren::-moz-tree-cell-text(hover) {
        text-decoration: none !important;
    }
    
    /*** current tab & group ***/
    .pano-tree treechildren::-moz-tree-cell-text(currentTab),
    .pano-tree treechildren::-moz-tree-cell-text(currentGroup) {
        font-style: italic;
    }
    
    /*** unread & titlechanged ***/
    .pano-tree treechildren::-moz-tree-cell-text(unread),
    .pano-tree treechildren::-moz-tree-cell-text(titlechanged) {
        color: blue !important;
    }
    
    /*** pending ***/
    .pano-tree treechildren::-moz-tree-cell-text(pending) {
        color: GrayText !important;
    }
    
    /*** style differently ***/
    .pano-tree treechildren::-moz-tree-row(odd) {
        background: rgb(250,250,250) !important;
    }
    .pano-tree treechildren::-moz-tree-row(group) {
        background: rgb(232,232,232) !important;
    }
    .pano-tree treechildren::-moz-tree-cell-text(group) {
        font-weight: bold !important;
    }
    
    /*** selection always white text ***/
    .pano-tree treechildren::-moz-tree-cell-text(selected) {
        color: white !important;
    }
    /*** and blue background ***/
    .pano-tree treechildren::-moz-tree-row(selected) {
        background: rgb(56,117,215) !important;
    }
}