@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul)
{
    /*** safari style bookmarks bar ***/
    /* reduce tool-bar padding */
    #PersonalToolbar {
        margin-top: -1px !important;
        padding:    0px 2px 0px 2px !important;
    }
    
    /* reduce bookmark height */
    #PlacesToolbarItems > .bookmark-item {
        max-height: 16px !important;
        margin-bottom: 3px !important;
    }
    
    /* hide favicons */
    #PlacesToolbarItems > .bookmark-item > .toolbarbutton-icon {
        display: none !important;
    }
    
    /* reduce drop-marker padding */
    #PlacesToolbarItems > .bookmark-item > .toolbarbutton-menu-dropmarker {
        margin-left: 1px !important;
        padding-top: 1px !important;
    }
    /* reduce menu text size, menu max width  */
    #personal-bookmarks menu,
    #personal-bookmarks menuitem  {
        max-width: 460px !important;
        font-size: 10pt !important;
    }
}