@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain(youtube.com)
{
    #watch-video,
    #watch-player,
    #html5-video-content {
        width: 1280px !important;
    }
    #watch-player {
        height: 750px !important;
    }
    #html5-video-content {
        height: 720px !important;
    }
}