/** 
 * Firefox Addons Manager Show Addon Counts & ID
 **
 * <p><b>Designed for english gui and use with style 66194 & style 66180</b></p>
 * <ul>
 * <li>In Extension & Themes : Always show a header bar, with enabled/disabled counts & selected addon ID. Show counts in userstyles too.</li>
 * <li>Hide global warning message text, hover over icon to see the text.</li>
 * <li>Remove the "(disabled)" & "Update" title::after text.</li>
 * </ul>
 * <p>Tested on Firefox 13 & 15 on OSX. FF12 on Win7/XP.</p>
 * <p><em>Updated for Firefox beta on OSX!</em></p>
 * <p>Other styles from user 142430</p>
 **
 * <p>Part of my Add-ons Manager Series:</p>
 * <ul>
 * <li>style 66184 (OSX)</li>
 * <li>style 66194</li>
 * <li>style 66293</li>
 * <li>style 66412</li>
 * <li>style 66292</li>
 * <li>style 66427</li>
 * <li>style 67076</li>
 * <li>style 66456</li>
 * <li>style 66180</li>
 * </ul>
 * 2012-05-30: fixed for minimized & hidden categories
 */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://mozapps/content/extensions/extensions.xul), url(about:addons)
{
    /*** remove "(disabled)" & "(Update)" ***/
    .disabled-postfix,
    .update-postfix {
        display: none !important;
    }
    
    /* always show header for counts & addon ids, minimize warnings to known size */
    #list-view:-moz-any([type="extension"],[type="theme"]) .view-header.global-warning-container { display: -moz-box !important; }
    #list-view:-moz-any([type="extension"],[type="theme"]) .global-warning-text { display: none !important; }
    
    /* make space for addon counts left of warning message */
    #list-view:-moz-any([type="extension"],[type="theme"]) .view-header.global-warning-container { padding-left: 150px !important; }
    
    /* show id for extensions, themes & plugins */
    #list-view:-moz-any([type="extension"],[type="theme"],[type="plugin"]) .addon[selected="true"]::after {
        content: " ID: " attr(value) !important;
        position: fixed !important;
        top: 41px !important;
        color: rgb(37, 47, 59);
        text-shadow: 0px 1px rgba(255, 255, 255, 0.4);
        white-space: nowrap !important;
        right: 8px;
    }
    
    /* show enabled/disabled count for extensions, themes & userstyles */
    #list-view:-moz-any([type="extension"],[type="theme"],[type="userstyle"]) .addon:first-child     { counter-reset: enabled; counter-reset: disabled; }
    #list-view:-moz-any([type="extension"],[type="theme"],[type="userstyle"]) .addon[active="true"]  { counter-increment: enabled; }
    #list-view:-moz-any([type="extension"],[type="theme"],[type="userstyle"]) .addon[active="false"] { counter-increment: disabled; }
    #list-view:-moz-any([type="extension"],[type="theme"],[type="userstyle"]) #addon-list::after {
        content: "("counter(enabled)" enabled, "counter(disabled)" disabled)";
        position: fixed;
        top: 41px;
        left: 210px;
        color: rgb(37, 47, 59);
        text-shadow: 0px 1px rgba(255, 255, 255, 0.4);
        white-space: nowrap;
    }
    /* place addon counts right of "new userstyle" button */
    #list-view[type="userstyle"] #addon-list::after { left: 29em; }
    
    /* adjust position, when collapsing category labels */
    @media all and (max-width:  800px)
    {
        #list-view:-moz-any([type="extension"],[type="theme"]) #addon-list::after { left: 63px; }
        #list-view[type="userstyle"] #addon-list::after { left: 16em; }
    }
}