/** 
 * Firefox Addons Manager Items Even/Odd Background
 **
 * <ul>
 * <li>Remove border between items.</li>
 * <li>Alternating background color.</li>
 * </ul>
 * <p>Tested on Firefox 13 & 15 on OSX. FF12 on Win7/XP.</p>
 * <p>Other styles from user 142430</p>
 **
 * <p>Part of my Add-ons Manager Series:</p>
 * <ul>
 * <li>style 66184 (OSX)</li>
 * <li>style 66194</li>
 * <li>style 66293</li>
 * <li>style 66412</li>
 * <li>style 66292</li>
 * <li>style 66427</li>
 * <li>style 67076</li>
 * <li>style 66456</li>
 * <li>style 66180</li>
 * </ul>
 */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://mozapps/content/extensions/extensions.xul), url(about:addons)
{
    /* listitems :  border out, alternate background tint in */
    .addon.addon-view {
        border-style: none !important; 
    }
    .addon.addon-view[active="false"]:not([selected]) { background-color: transparent !important; }
    .addon.addon-view:nth-child(odd):not([selected]) {
        background-color: rgba(135, 135, 135, 0.08) !important;
    }
    .addon.addon-view[active="false"]:not([selected]):not([pending]):not([notification]) {
        background-image: -moz-linear-gradient(rgba(135, 135, 135, 0.15),rgba(135, 135, 135, 0.15)) !important;
    }
    .addon.addon-view[active="false"]:not([selected])[notification] {
        background-image: url("chrome://mozapps/skin/extensions/stripes-warning.png"), 
                         -moz-linear-gradient(rgba(135, 135, 135, 0.15),rgba(135, 135, 135, 0.15)),
                         -moz-linear-gradient(rgba(255, 255, 0, 0.04), transparent) !important;
    }
    /*.addon.addon-view[active="false"]:not([selected])[pending] {
        background-image: url("chrome://mozapps/skin/extensions/stripes-info-positive.png"), 
                         -moz-linear-gradient(rgba(135, 135, 135, 0.15),rgba(135, 135, 135, 0.15)),
                         -moz-linear-gradient(rgba(0, 255, 0, 0.04), transparent) !important;
    }*/
}