/** 
 * Firefox Addons Manager Max width 1065px
 **
 * <p>Limits the width of about:addons to 1065px.</p>
 * <p>Tested on Firefox 13 & 15 on OSX. FF13 on Win7/XP.</p>
 * <p><em>Updated for Firefox beta on OSX! Everyone else may have to adjust the style (values for win7&xp provided in style) after each update.</em></p>
 * <p>Other styles from user 142430</p>
 **
 * <p>Part of my Add-ons Manager Series:</p>
 * <ul>
 * <li>style 66184 (OSX)</li>
 * <li>style 66194</li>
 * <li>style 66293</li>
 * <li>style 66412</li>
 * <li>style 66292</li>
 * <li>style 66427</li>
 * <li>style 67076</li>
 * <li>style 66456</li>
 * <li>style 66180</li>
 * </ul>
 * 2012-05-31: added some windows 7/XP values you can uncomment
 */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://mozapps/content/extensions/extensions.xul), url(about:addons)
{
    /* add wide mode */
    @media all and (min-width: 1065px) {
        #addons-page {
            -moz-box-align: center !important;
            margin: auto !important;
        }
        #addons-page > hbox {
            width: 1065px !important;
        }
        .category[selected] {
            border-left-color: rgba(50, 65, 92, 0.4) !important; /* win7/XP: rgb(195, 206, 223) */
            border-top-left-radius: 5px !important;
            border-bottom-left-radius: 5px !important;
        }
        #view-port-container {
            border-radius: 5px !important;
            margin-bottom: 5px !important;
            border-style: solid !important;
        }

        /* fix when combined with "trim list items" */
        #view-port-container {
            border-radius: 5px !important;
            border-style: solid !important;
        }
        .category[selected] {
            border-radius: 5px 0 0 5px !important;
        }

        /* fix when combined with "display counts & id " */
        #list-view:-moz-any([type="extension"],[type="theme"],[type="plugin"]) .addon[selected="true"]::after {
            right: -moz-calc((100% - 1065px) / 2 + 8px) !important;
        }
        #list-view:-moz-any([type="extension"],[type="theme"]) #addon-list::after {
            left: -moz-calc((100% - 1065px)/2 + 210px);
        }
        #list-view[type="userstyle"] #addon-list::after {
            left: -moz-calc((100% - 1065px)/2 + 29em);
        }
    }
}