/** 
 * Firefox Addons Manager Release Notes Buttons stay
 **
 * <ul>
 * <li>Release Notes Button & other Buttons stay where they are.</li>
 * <li>Release Notes expand below.</li>
 * </ul>
 * <p>Tested on Firefox 13 & 15 on OSX. FF12 on Win7/XP.</p>
 * <p><em>Updated for Firefox beta on OSX!</em></p>
 * <p>Other styles from user 142430</p>
 **
 * <p>Part of my Add-ons Manager Series:</p>
 * <ul>
 * <li>style 66184 (OSX)</li>
 * <li>style 66194</li>
 * <li>style 66293</li>
 * <li>style 66412</li>
 * <li>style 66292</li>
 * <li>style 66427</li>
 * <li>style 67076</li>
 * <li>style 66456</li>
 * <li>style 66180</li>
 * </ul>
 */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://mozapps/content/extensions/extensions.xul), url(about:addons)
{
    /* perfect relnotes style */
    .relnotes-toggle {
        border: 1px solid rgba(60, 73, 97, 0.5) !important;
    }
    /* release notes drop down moved above release notes */
    .relnotes-container + hbox {
        -moz-box-ordinal-group: 2 !important;
    }
    .relnotes-container {
        -moz-box-ordinal-group: 3 !important;
    }
    .relnotes-header {
        display: none !important;
    }
    /* don't move controls on relnotes-toggle */
    #updates-list .advancedinfo-container {
        -moz-box-align: start !important;
    }
    #updates-list .update-available {
        margin-top: 2px !important;
    }
}