/** 
 * Firefox Addons Manager Remove Paddings & more
 **
 * <ul>
 * <li>Remove paddings from about:addons</li>
 * <li>Pixel perfect badges on top of icon. For numbers 1-99.</li>
 * <li>Selected Category gets a border to the right (Windows: see below)</li>
 * <li>Below 710px width you get categories on hover only. (Like a hidden dock/taskbar, may get cut off at bottom with window-height ~&lt; 400px)</li>
 * <li>Merges the "Install Updates" button into the sorting bar. (in Available Updates)</li>
 * </ul>
 * <p>Tested on Firefox 13 & 15 on OSX. FF12 on Win7/XP.</p>
 * <p><em>Updated for Firefox beta on OSX! Everyone else may have to adjust the style (values for win7&xp provided in style) after each update.</em></p>
 * <p>Other styles from user 142430</p>
 **
 * <p>Part of my Add-ons Manager Series:</p>
 * <ul>
 * <li>style 66184 (OSX)</li>
 * <li>style 66194</li>
 * <li>style 66293</li>
 * <li>style 66412</li>
 * <li>style 66292</li>
 * <li>style 66427</li>
 * <li>style 67076</li>
 * <li>style 66456</li>
 * <li>style 66180</li>
 * </ul>
 * <p>Badges & Small Mode copied & slightly modified from other userstyles. (can't seem to find reference anymore, pm me if you want to be mentioned)</p>
 * 2012-05-31 : added some values to uncomment for windows 7/XP
 * 2012-05-25 : Merge the "Install Updates" button into the sorting bar.
 */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://mozapps/content/extensions/extensions.xul), url(about:addons)
{
    /*** remove page padding ***/
    #addons-page {
        padding: 0px !important;
    }
    #view-port-container {
        border-radius: 5px 0 0 0 !important;
        border-style: solid none none solid !important;
    }
    .category[selected] {
        border-radius: 0px !important;
    }
    #categories {
        margin-left: 0px !important;
        margin-top: 28px !important;
    }
    .category {
        border-left-color: transparent !important;
    }
    /* remove padding, place header like navbar */
    #header {
        margin: 5px 8px 5px 8px !important;
    }
    /* padding after forward button */
    #forward-btn {
        margin-right: 18px !important;
    }
    
    /* Flexible Searchbar, allowing for a less wide window (especially with available updates)*/
    #header-search {
        -moz-box-flex: 50 !important;
        min-width: 12.5em !important;
        max-width: 22em !important;
    }
    
    /*** perfect selected category style ***/
    .category[selected] {
        border-right-color: #B4B1B9 !important; /* win7/XP: comment this rule out */
        background-color: #C7CDD6 !important;   /* win7/XP: comment this rule out */
    }
    
    /*** overlay badges over icon ***/
    .category-name {
        -moz-box-ordinal-group: 3 !important;
        margin-left: -1px !important;
    }
    .category-badge {
        -moz-box-ordinal-group: 2 !important;
        position: relative;
        margin: -20px -3px 0 -10px !important;
        padding: 0 3px !important;
    }
    .category-badge[value="0"] {
        margin-right: 4px !important;
    }
    .category-badge:-moz-any([value="1"], [value="2"], [value="3"], [value="4"], [value="5"], [value="6"], [value="7"], [value="8"], [value="9"])
    {
        margin-right: 2px !important;
        padding: 0 4px !important;
    }

    /*** available Updates : merge list item area headers (inkl. compat warning) ***/
    #categories[last-selected="category-availableUpdates"] + #view-port-container #update-actions {
        display: block !important;
        margin: -31px 0 3px 4px; /* winXP: set to -29px 0 2px 5px */ /* win7: set to -29px 0 3px 5px */
    }
    #categories[last-selected="category-availableUpdates"] + #view-port-container .global-warning-checkcompatibility {
        margin-left: 104px;
    }
}