/** 
 * Firefox Addons Manager Table Layout
 **
 * <ul>
 * <li>Shows extensions, themes, plugins & userstyles in a table layout.</li>
 * <li>Works with all my other addon manager styles.</li>
 * <li>Should be free of ui flaws. Hides "Update available!" text.</li>
 * </ul>
 * <p>Tested on Firefox 13 & 15 on OSX. <!--FF12 on Win7/XP.--></p>
 * <p><em>Updated for Firefox beta on OSX! Everyone else may have to adjust the style <!--(values for win7&xp provided in style)--> after each update.</em></p>
 * <p>Other styles from user 142430</p>
 **
 * <p>Part of my Add-ons Manager Series:</p>
 * <ul>
 * <li>style 66184 (OSX)</li>
 * <li>style 66194</li>
 * <li>style 66293</li>
 * <li>style 66412</li>
 * <li>style 66292</li>
 * <li>style 66427</li>
 * <li>style 67076</li>
 * <li>style 66456</li>
 * <li>style 66180</li>
 * </ul>
 * <p>Took similar userstyles as basis.</p>
 */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://mozapps/content/extensions/extensions.xul), url(about:addons)
{    /* effective min-width is at 700px (+ categories), max-width ~1400px */
    /*******PUT EVERYTHING AS ONE LINE******/
    #list-view .addon {
        padding: 2px 10px 2px 5px !important;/*2px 5px 2px 0*/
    }
    
    #list-view #addon-list .icon-container,
    #list-view #addon-list .icon {
        max-height: 16px !important;/*20/24px*/
        max-width: 16px !important; /*20/24px*/
    }
    
    #list-view #addon-list .content-container,
    #list-view #addon-list .content-inner-container,
    #list-view #addon-list .icon-container,
    #list-view #addon-list .status-control-wrapper {
        -moz-box-orient: horizontal;
        -moz-box-align: center !important;
    }
    #list-view .addon */*:not(.button-text)*/ {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        margin-right: 0 !important;
        vertical-align: middle !important;
        white-space: nowrap !important;
    }
    
    #list-view #addon-list .icon-container,
    #list-view #addon-list .name-container,
    #list-view #addon-list .name,
    #list-view #addon-list .version,
    #list-view #addon-list .disabled-postfix,
    #list-view #addon-list .update-postfix,
    #list-view #addon-list .description-container,
    #list-view #addon-list .description,
    #list-view #addon-list .details.button-link,
    #list-view #addon-list .status-control-wrapper {
        margin-left: 5px !important;
    }
    #list-view #addon-list .date-updated,
    #list-view #addon-list .description {
        margin-left: 10px !important;
    }
    
    #list-view #addon-list .button-text {
        margin-right: 4px !important;
    }
    
    /*** Version ABC ***/
    #list-view #addon-list .description-outer-container {
        padding-bottom: 1px !important;
    }
    #list-view .addon :-moz-any(.warning,.pending,.error) {
        margin-left: 25px !important;
    }
    #list-view #addon-list .name-container > * {
        font-size: 13px/*11-16px*/ !important;
    }
    #addon-list .date-updated {
        margin-top: 1px !important;
    }
    /* dim description of active addons *
    #list-view .addon[active="true"]:not([selected]) .description {
        opacity: 0.5 !important;
    }
    
    /* fix installing state */
    #list-view #addon-list .install-status:not([hidden]) .cancel {
        margin: 1px !important;
    }
    #list-view #addon-list .download-progress .progress .progress-bar  {
        min-height: 15px !important;
    }
    #list-view #addon-list .install-status:not([hidden]) .start-cap {
        margin: -1px 0 -1px -1px !important;
        height: 1.7em !important;
    }
    /*************** Version D : TABLE LAYOUT ***************/
    /* hide "update available" notice, it's just too big */
    #list-view #addon-list .update-available-notice { display: none; }
    
    /* show update time */
    #list-view:not([type="userstyle"]) #addon-list .date-updated { display: -moz-box !important; }
    
    /* make sure we have a table layout */
    #list-view #addon-list .addon *                 { white-space: nowrap !important; }
    #list-view #addon-list .content-inner-container { display: inline-table !important; }
    
    /* reverse, trim description & more-button */
    #list-view #addon-list .description                  { -moz-box-ordinal-group: 2 !important; }
    #list-view #addon-list .details.button-link          { -moz-box-ordinal-group: 1 !important; }
    #list-view #addon-list .details.button-link + spacer { -moz-box-ordinal-group: 3 !important; }
    #list-view #addon-list .description-container { margin-left: 1px !important; }
    #list-view #addon-list .description           { margin-left: 6px !important; }

    /* calculate column width's */
    #list-view #addon-list .content-inner-container { width: 100% !important; max-width: 100% !important; }
    
    #list-view #addon-list .basicinfo-container     { min-width: 26em !important; width: -moz-calc(100% - (5px + 2.0em + 22px + 14em + 66px + 6.3em + 22px)) !important;  }   
    #list-view #addon-list .advancedinfo-container  { min-width: -moz-calc(2.0em + 22px) !important; width: -moz-calc(5px + 2.0em + 22px + 14em + 66px + 6.3em + 22px) !important; }

    @media all and (min-width: 1000px) {   /*.content-inner-container width : vvv*/
        #list-view #addon-list .basicinfo-container    { width: -moz-calc(100% - (100% - 761px) * 0.5 - (5px + 2.0em + 22px + 14em + 66px + 6.3em + 22px)) !important;}
        #list-view #addon-list .advancedinfo-container { width: -moz-calc((100% - 761px) * 0.5 + 5px + 2.0em + 22px + 14em + 66px + 6.3em + 22px) !important; }
    }
    /*
    @media all and (min-width: 1150px) {   /*.content-inner-container width : vvv*
        #list-view #addon-list .basicinfo-container    { width: -moz-calc(100% - (100% - 911px) - (911px - 761px) * 0.5 - (5px + 2.0em + 22px + 14em + 66px + 6.3em + 22px)) !important;}
        #list-view #addon-list .advancedinfo-container { width: -moz-calc((100% - 911px) + (911px - 761px) * 0.5 + 5px + 2.0em + 22px + 14em + 66px + 6.3em + 22px) !important; }
    }
    #addon-list .details.button-link { width: -moz-calc(2.0em + 22px) !important; } /* ( 43 - (6+4+1+3+4+4))/11 =  1.9090…em *
    #addon-list .control-container   { width: -moz-calc( 14em + 66px) !important; } /* (218-3*(6+4+1+3+4+4))/11 = 13.8181…em *
    #addon-list .status-container    { width: -moz-calc(6.3em + 22px) !important; } /* ( 91 - (6+4+1+3+4+4))/11 =  6.2727…em */
    /* => .status-control-wrapper : 20.0909em */
    
    @media all and (max-width: 900px) { .category-name { display: none !important; } }
    
    /* fix when combined with "display counts & id" */
    @media all and (max-width: 900px) and (min-width: 800px) { /*TODO doesn't this conflict with the fix in "trim list items"*/
        #list-view:-moz-any([type="extension"],[type="theme"]) #addon-list::after { left: 63px; }
        #list-view[type="userstyle"] #addon-list::after { left: 16em; }
    }
    /* fix when combined with "trim list items" : margins */
    #addon-list .details.button-link { padding-top: 1px !important; padding-bottom: 2px !important; }
    #addon-list .name-container > spacer,
    #addon-list :-moz-any(.warning, .pending) > *:first-child { margin-left: 0 !important; }
    #addon-list :-moz-any(.warning, .pending) { padding-top: 0px !important; }
    #addon-list .addon:-moz-any([notification],[pending]) .description { display: -moz-box !important; }
    
    /* fix when combined with "userstyles color coded type & fixes" */
    #list-view[type="userstyle"] #addon-list .icon-container::before {
        min-width: 17px;
        max-width: 17px;
        height: 17px;
        padding: 1px 0px 1px 0px;
        font-size: 100%;
    }
    #list-view[type="userstyle"] #addon-list .basicinfo-container    { width: -moz-calc(100% - (2.0em + 22px + 14em + 66px + 6.3em + 22px - 1em)) !important; }
    #list-view[type="userstyle"] #addon-list .advancedinfo-container { width: -moz-calc(2.0em + 22px + 14em + 66px + 6.3em + 22px - 1em) !important; }
}