/** 
 * Firefox Addons Manager UltraSmall Mode
 **
 * <p>Mostly hides category sidebar on small window width, only to fully reveal itself when hovering over it.</p>
 * <p>Tested on Firefox 14 & 16 on OSX. FF12 on Win7/XP.</p>
 * <p><em>Updated for Firefox beta on OSX!</em></p>
 * <p>Other styles from user 142430</p>
 **
 * <p>Part of my Add-ons Manager Series:</p>
 * <ul>
 * <li>style 66184 (OSX)</li>
 * <li>style 66194</li>
 * <li>style 66293</li>
 * <li>style 66412</li>
 * <li>style 66292</li>
 * <li>style 66427</li>
 * <li>style 67076</li>
 * <li>style 66456</li>
 * <li>style 66180</li>
 * </ul>
 */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
/*TODO does this depend on "remove paddings & more"*/
@-moz-document url(chrome://mozapps/content/extensions/extensions.xul), url(about:addons)
{
    /* ultra small mode with popup bar */
    @media all and (max-width: 710px) {
        #categories {
            position: fixed !important;
            left: 0 !important;
            z-index: 1 !important;
            margin-left: 0 !important;
            padding: 6px !important;
            background-image: url("chrome://global/skin/inContentUI/background-texture.png"), -moz-linear-gradient(center top , rgb(173, 181, 194), rgb(191, 198, 209)) !important; /* win7: -moz-linear-gradient(rgb(214, 227, 244), rgb(204, 217, 234)) */ /* winXP: -moz-linear-gradient(rgb(241, 238, 221), rgb(236, 233, 216)) */
            opacity: 0.97;
            border: 1px solid rgba(50, 65, 92, 0.4) !important;
            border-left: none !important;
            border-radius: 0 5px 5px 0 !important;
            -moz-transition: margin-left 0.5s !important;
            box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
        }
        #categories:not(:hover) {
            margin-left: -52px !important;
            -moz-transition: margin-left 0.5s 200ms !important;
        }
        #categories .category {
            padding: 2px !important;
        }
        #view-port-container {
            border-left: none !important;
            border-radius: 0px !important;
        }
        #categories:hover .category[selected] {
            border-color: rgba(50, 65, 92, 0.4) !important; /* win7/XP: rgb(195, 206, 223) */
            background-color: #C7CDD6 !important; /* win7: -moz-cellhighlight */ /* winXP: rgba(255, 255, 255, 0.4) */
            -moz-transition: background-color 0.5s, border-color 0.5s !important;
        }
        #categories .category[selected] {
            border-radius: 5px !important;
            background-color: transparent !important;
            border: 1px solid transparent !important;
            -moz-transition: background-color 0.5s 200ms, border-color 0.5s 200ms !important;
        }
        
        /* fix when combined with "display counts & id" */
        #list-view:-moz-any([type="extension"],[type="theme"]) #addon-list::after { left:  8px; }
        #list-view[type="userstyle"] #addon-list::after { left: 11em; }
    }
}