/** 
 * Firefox Userstyles color coded type & style fixes
 **
 * <ul>
 * <li>Fix userstyle header sorting buttons paddings & margins.</li>
 * <li>Fix userstyle footer style.</li>
 * <li>Color code style types. A for App. S for Site. G for Global.</li>
 * <li>Hide compatibility checking global warning in useryle category.</li>
 * </ul>
 * <p>Tested on Firefox 13 & 15 on OSX. FF12 on Win7/XP.</p>
 * <p><em>Updated for Firefox beta on OSX! Everyone else may have to adjust the style (values for win7&xp provided in style) after each update.</em></p>
 * <p>Other styles from user 142430</p>
 **
 * <p>Part of my Add-ons Manager Series:</p>
 * <ul>
 * <li>style 66184 (OSX)</li>
 * <li>style 66194</li>
 * <li>style 66293</li>
 * <li>style 66412</li>
 * <li>style 66292</li>
 * <li>style 66427</li>
 * <li>style 67076</li>
 * <li>style 66456</li>
 * <li>style 66180</li>
 * </ul>
 * 2012-05-31: added more windows7/XP related corrections in comments to the style.
 * 2012-05-29: made style option-less/updateable & fixed "more" position for OSX (on windows change several values (see code))
 */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://mozapps/content/extensions/extensions.xul), url(about:addons)
{
    /* fix userstyle sorting buttons */
    #userstyle-sorting > button:not(#new-userstyle) {
        margin: 3px 6px 0px !important; /* win7: 1px 6px 0px */
        max-height: 16px !important;
    }
    #userstyle-sorting #new-userstyle {
        margin: 1px 6px -2px !important; /* winXP: -1px 6px -4px *//* win7: -1px 6px */
    }
    
    /* fix userstyle footer */
    #userstyle-footer {
        padding: 0px 4px;
        background-image: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05));
        /* win7/XP: border-top: 1px solid rgb(202, 212, 224) !important; */
    }
    #userstyles-note {
        margin: 0px 6px 0px !important;
    }
    
    /* hide global warning bar (addon compatibility/secureupdate/safemode check) */
    #categories[last-selected="category-userstyle"] + #view-port-container .view-header.global-warning-container {
        display: none !important;
    }
    
    /* show userstyles types */
    #list-view[type="userstyle"] .description { display: none !important; }
    #list-view[type="userstyle"] .details.button-link { margin-left: -8px !important; } /* winXP: -3px */ /* win7: -7px */
    #list-view[type="userstyle"] .addon .icon-container::before {
        content: "";
        display: -moz-box;
        -moz-box-pack: center;
        width: 32px;
        height: 32px;
        font-size: 160%;
        padding: 4px 0px 1px 1px;/* win7: 2px 0px 2px 3px */
        border-radius: 3px;
        vertical-align: middle;
        color: rgba(255,255,255,0.7);
        text-shadow: rgba(255,255,255,0.7) -0.6px 0px;
    }
    #list-view[type="userstyle"] .addon[styleTypes*="app"] .icon-container::before {
        content: "A";/*App*/
        background: rgba(59,194,0,0.25); /*#DD6666;*/
    }
    #list-view[type="userstyle"] .addon[styleTypes*="site"] .icon-container::before {
        content: "S";/*Site*/
        background: rgba(16,157,255,0.25); /*#33AA33;*/
    }
    #list-view[type="userstyle"] .addon[styleTypes*="global"] .icon-container::before {
        content: "G";/*Global*/
        background: rgba(255,48,0,0.25); /*#6699FF;*/
    }
    #list-view[type="userstyle"] .addon[active="false"] .icon-container::before {
        opacity: 0.5;
    }
    #list-view[type="userstyle"] .addon .icon { width: 0px !important; }
}