/** @author Claude Nobs 
 *  @website gmail.blunet.cc
 */
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("mail.google.com") {

/* SMALL GMAIL LOGO */
.aC .no .no > div:first-child { width: auto !important; height: auto !important; }
#\:rh { margin: 5px -80px 0px 0px !important; height: 32px !important; width: 77px !important; -moz-background-size: 100%25 100%25 !important; -webkit-background-size: 100%25 100%25 !important;}
.aC .no .no > div:first-child + div > div:first-child { margin-left: 80px !important; }
/* MINIMIZE SEARCH : SHORTER TEXTFIELD + REMOVE SEARCH_THE_WEB BUTTON */
input#\:rc { width: 200px !important; }
#\:rd[role=button] { display: none !important; }
/* MINIMIZE ALERTS */
.aC table[role=search] { margin-top: 5px !important; }
.aC .no .no { float: none !important; }
.aC .no .no > div:first-child + div { width: 100%25 !important; }
.aC .no .no > div:first-child + div > div:first-child { float: left !important; margin-right: 10px !important;}
/* FIX ADVANCED SEARCH / FILTER */
.aC div[class='nH a'] div[class='ph p'],
.aC div[class='nH b'] div[class='ph p'] { width: 0px !important; }

/* show alerts centered in top bar, regardless of size... */
.b8 { padding: 0px !important; height: 37px !important; display: table;}
.b8 > table { margin: auto !important; display: table-cell; vertical-align: middle; }
/*.vh { font-size: 70%25 !important; }*/
}