/** @author Claude Nobs 
 *  @website gmail.blunet.cc
 */
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("mail.google.com") {

/* COLLAPSE GBAR */
.aC > div > div:nth-child(2) { display:none !important; }
.aC:hover > div > div:nth-child(2) { display:block !important; }

}