/** @author Claude Nobs 
 *  @website gmail.blunet.cc
 */
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("mail.google.com") {

/* COLLAPSE GBAR FOR FIXED */
.aC > div > div:nth-child(2) > * { display:none !important; }
.aC > div > div:nth-child(2):hover > * { display:block !important; }
.aC > div > div:nth-child(2),
.aC > div > div:nth-child(2) > * { position: absolute; width: 100%25; z-index: 10; }
.aC > div > div:nth-child(2) { height: 10px; }

/* SCROLL PANE */
.aC,
.nH.q0CeU .pi,
.D.E,
.aC + div > .no > div:nth-child(2) { position: fixed; z-index:9; }

.aC + div > .no > div:nth-child(2),
.aC + div > .no > div:nth-child(3) { margin-top: 38px; }
.aC + div > .no > div:nth-child(3) { z-index:3; margin-left: 148px; margin-bottom: 16px; }
.D.E + div,
table.iY { margin-top: 37px; display:block !important;}
.nH.q0CeU .pi:first-child { margin-top: -1px; width: 100%25; }
.nH.q0CeU .pi:last-child { bottom: 13px; width: 100%25; }
.D.E { left: 0px; top: 41px; margin-left: 152px; width: 100%25; }
.D.E > *:not(.iH) { margin-right: 152px; }

/* ATTACH FOOTER AT BOTTOM */
.nH.l2.ov { position: fixed; bottom: 0px; width: 100%25; z-index: 10; }
.nH.l2.ov > * { margin-left: -148px; margin-right: 148px; }

/* REMOVE BOTTOM CONTROLS */
.AY.D.E, .iE.D.E { display: none !important; }

/* OPTICAL FIXES FOR THESE CHANGES */
.aC,
.nH.l2.ov,
.aC > div > div:nth-child(2) > * { background-color: #ffffff !important; }
.nH.q0CeU .pi .ph { width: 0px !important; }
.nH.q0CeU > * { margin-right:-46px !important; }
/* it follows the ugliest hack ever... */
.nH.q0CeU .ph.q { position: absolute !important; top:1px; left: 0px; width: 4px !important; height: 1000px !important; background-repeat: repeat !important; background-position: 50% 50% !important; -moz-background-size: 200%25 200%25 !important; }
}