/** @author Claude Nobs 
 *  @website gmail.blunet.cc
 */
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("mail.google.com") {

/* REMOVE BOTTOM CONTROLS */
.AY.D.E { display: none !important; }

/* SCROLL ONLY EMAIL LIST **  */
.nH.q0CeU .A1.D.E + div + div + div + div > .nH > .nH:first-child { height: 400px !important; overflow-y: scroll; }

body.cP > div,
body.cP > div > .nH,
body.cP > div > .nH > .nH,
.aC + div > .no > *:nth-child(3),
.nH.q0CeU > .nH,
.nH.q0CeU .k,
.nH.q0CeU .diLZtc,
.nH.q0CeU .diLZtc > *,
.nH.q0CeU .diLZtc > * > *:nth-child(2),
.nH.q0CeU .diLZtc > * > *:nth-child(2) > *,
.nH.q0CeU .diLZtc > * > *:nth-child(2) > * > *,
.nH.q0CeU .diLZtc > * > *:nth-child(2) > * > * > * { height: 100%25 !important; }

body.cP > div > .nH > .nH,
.aC + div > .no > *:nth-child(3),
.nH.q0CeU > .nH,
.nH.q0CeU .diLZtc > * > *:nth-child(2) > * > * > * { display: table; float: none !important; }

body.cP > div > .nH > .nH > *,
.aC + div > .no > *:nth-child(3) > *,
.nH.q0CeU > .nH > *,
.nH.q0CeU .diLZtc > * > *:nth-child(2) > * > * > * > * { display: table-row; float: none !important; }

body.cP > div > .nH > .nH > *:last-child > *.no,
.nH.q0CeU,
.nH.q0CeU .l.m > *,
.nH.q0CeU .k .A1.D.E + div + div + div + div > * { float: none !important; display: table-cell; height: 100%25; width: 100%25; }
.nH.q0CeU .k { padding-left: 4px !important; }

}