/** FIXED SIDEBAR **/
.aC + div > .no > div:nth-child(2) { position: fixed; z-index:-9;}
.aC + div > .no > div:nth-child(3) { margin: 0px 0px 0px 148px; }

/** COLLAPSE GBAR **/
.aC > div > div:nth-child(2) { display:none !important; }
.aC:hover > div > div:nth-child(2) { display:block !important; }

/** COLLAPSE INBOX BAR : SELECT **/
/*div.A1.D.E > div:nth-child(2) { display:none !important; }
div.A1.D.E:hover > div:nth-child(2) { display:inline !important; }*/

/** HIDE CHAT AND INVITE BOXES **/
.nH.s, .nH.pY { display: none !important; }

/** ADD ROW HIGHLIGHTS **/
table.zt tr.yO:hover { background-color: rgb(255,235,134) !important;} 
table.zt tr.zE:hover { background-color: rgb(205,243,159) !important;}

/** MAXIMIZE WIDTH **/
.aC + div > .no > *:nth-child(1) { display: none !important; }
.aC + div > .no > *:nth-child(2) { width: 148px !important; }

.nH.q0CeU > * { margin-right:-42px !important; } /* -42 with, -57 without scrollbar */
.nH.q0CeU .diLZtc .no,
.nH.q0CeU .diLZtc .no > * { width: 100% !important; }

.nH.q0CeU .k { margin-right: 0px !important; }
.nH.q0CeU .ph:not(.p):not(.i) { width: 0px !important; }


/** MULTIPLE INBOXES CONTROLS REMOVAL **/
.A1.D.E ~ * .A1.D.E { display:none; }

.A1.D.E ~ * .nH.nK { margin: 0px !important; }
.A1.D.E ~ div.nH[style="width: 4px; height: 4px;"] { display:none; }


/** MINIMIZE FOOTER **/
.nH.l2.ov > *:nth-child(1),
.nH.l2.ov > *:nth-child(2),
.nH.l2.ov > *:nth-child(3),
/*.nH.l2.ov > *:nth-child(6),*/
.nH.l2.ov > *:nth-child(7),
.mp > *:last-child { display: none !important; }
.nH.l2.ov > *, 
.nH.l2.ov > * > * { display: inline-block !important; }
.nH.l2.ov > *,
.nH.l2.ov > * > *,
.nH.l2.ov > * > * > * { font-size: 11px !important; padding-top: 0px !important; }
.nH.l2.ov > *:nth-child(4):after { content: "  |  "; white-space: pre; }
.nH.l2.ov/*:hover*/ > *:nth-child(6),
.nH.l2.ov:hover > *:nth-child(7) { display: block !important; }


/** REMOVE ADS **/
table[class='Bs nH iY'] > tr > td:last-child > div { position:absolute !important; right: 0px !important; width: 100% !important; }
table[class='Bs nH iY'] > tr > td:last-child > div > div > div:first-child .hk { float: right !important; margin-right: 15px !important; margin-top: -5px !important; }
table[class='Bs nH iY'] > tr > td:nth-child(2),
table[class='Bs nH iY'] > tr > td:last-child > div > div > div:nth-child(3),
table[class='Bs nH iY'] > tr > td:last-child > div > div > div:nth-child(4) { display: none !important;}
.ir { width: 99% !important; }
.if > *:first-child { padding-top: 5px; }

/** MINIMIZE SEARCH/ALERT BAR **/
/* SMALL GMAIL LOGO */
.aC .no .no > div:first-child { width: auto !important; height: auto !important; }
#\:rh { margin: 5px -80px 0px 0px !important; height: 32px !important; width: 77px !important; -moz-background-size: 100% 100% !important; -webkit-background-size: 100% 100% !important;}
.aC .no .no > div:first-child + div > div:first-child { margin-left: 80px !important; }
/* MINIMIZE SEARCH : SHORTER TEXTFIELD + REMOVE SEARCH_THE_WEB BUTTON */
input#\:rc { width: 200px !important; }
#\:rd[role=button] { display: none !important; }
/* MINIMIZE ALERTS */
.aC table[role=search] { margin-top: 5px !important; }
.aC .no .no { float: none !important; }
.aC .no .no > div:first-child + div { width: 100% !important; }
.aC .no .no > div:first-child + div > div:first-child { float: left !important; margin-right: 10px !important;}
/* FIX ADVANCED SEARCH / FILTER */
.aC div[class='nH a'] div[class='ph p'],
.aC div[class='nH b'] div[class='ph p'] { width: 0px !important; }

/* show alerts centered in top bar, regardless of size... */
.b8 { padding: 0px !important; height: 37px !important; display: table;}
.b8 > table { margin: auto !important; display: table-cell; vertical-align: middle; }