/** @author Claude Nobs 
 *  @website gmail.blunet.cc
 */
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("mail.google.com") {

/* MINIMIZE FOOTER */
.nH.l2.ov > *:nth-child(1),
.nH.l2.ov > *:nth-child(2),
.nH.l2.ov > *:nth-child(3),
/*.nH.l2.ov > *:nth-child(6),*/
.nH.l2.ov > *:nth-child(7),
.mp > *:last-child { display: none !important; }
.nH.l2.ov > *, 
.nH.l2.ov > * > * { display: inline-block !important; }
.nH.l2.ov > *,
.nH.l2.ov > * > *,
.nH.l2.ov > * > * > * { font-size: 11px !important; padding-top: 0px !important; }
.nH.l2.ov > *:nth-child(4):after { content: "  |  "; white-space: pre; }
.nH.l2.ov/*:hover*/ > *:nth-child(6),
.nH.l2.ov:hover > *:nth-child(7) { display: block !important; }

}