/** @author Claude Nobs 
 *  @website gmail.blunet.cc
 */
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("mail.google.com") {

/* MAXIMIZE WIDTH */
.aC + div > .no > *:nth-child(1) { display: none !important; }
.aC + div > .no > *:nth-child(2) { width: 148px !important; }

.nH.q0CeU > * { margin-right:-42px !important; } /* -42 with, -57 without scrollbar */
.nH.q0CeU .diLZtc .no,
.nH.q0CeU .diLZtc .no > * { width: 100% !important; }

.nH.q0CeU .k { margin-right: 0px !important; }
.nH.q0CeU .ph:not(.p):not(.i) { width: 0px !important; }

}