/** @author Claude Nobs 
 *  @website gmail.blunet.cc
 */
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("mail.google.com") {

/* SCROLL PANE */
.aC + div > .no > div:nth-child(2) { position: fixed; z-index:9;}

.aC + div > .no > div:nth-child(3) { margin: 0px 0px 0px 148px; z-index:3; }

}