/** @author Claude Nobs 
 *  @website gmail.blunet.cc
 */
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("mail.google.com") {

.A1.D.E ~ * .A1.D.E { display:none; }

.A1.D.E ~ * .nH.nK { margin: 0px !important; }
.A1.D.E ~ div.nH[style="width: 4px; height: 4px;"] { display:none; }

}