/** @author Claude Nobs 
 *  @website gmail.blunet.cc
 */
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("mail.google.com") {

/* COLLAPSE INBOX BAR : SELECT */
div.A1.D.E > div:nth-child(2) { display:none !important; }
div.A1.D.E:hover > div:nth-child(2) { display:inline !important; }

}