/** @author Claude Nobs 
 *  @website gmail.blunet.cc
 */
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("mail.google.com") {

/* ADD ROW HIGHLIGHTS */
table.zt tr.yO:hover { background-color: rgb(255,235,134) !important;} 
table.zt tr.zE:hover { background-color: rgb(205,243,159) !important;}

}