/** @author Claude Nobs 
 *  @website gmail.blunet.cc
 */
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("mail.google.com") {

/* REMOVE ADS */
table[class='Bs nH iY'] > tr > td:last-child > div { position:absolute !important; right: 0px !important; width: 100%25 !important; }
table[class='Bs nH iY'] > tr > td:last-child > div > div > div:first-child .hk { float: right !important; margin-right: 15px !important; margin-top: -5px !important; }
table[class='Bs nH iY'] > tr > td:nth-child(2),
table[class='Bs nH iY'] > tr > td:last-child > div > div > div:nth-child(3),
table[class='Bs nH iY'] > tr > td:last-child > div > div > div:nth-child(4) { display: none !important;}
.ir { width: 99%25 !important; }
.if > *:first-child { padding-top: 5px; }

}