/** 
 * Firefox OSX back/forward buttons like safari
 **
 * <p>Applies to about:addons & about:preferences as well.</p>
 * <p><em>Only has an effect when using "icons" & "use small icons" in toolbar customization!</em></p>
 * <p>Tested on Firefox 13 & 15 on OSX. <b>Does not work on Windows!</p>
 * <p>Other styles from user 142430</p>
 **
 * 2012-06-12 : now only applies style when using small & icons mode on toolbar
 * 2012-05-25 : support about:preferences for Firefox 15+
 */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul), url(about:addons), url(about:preferences)
{
    /********* back/forward buttons like safari *********/
    #navigator-toolbox[iconsize="small"][mode="icons"] > #nav-bar #back-button,
    #navigator-toolbox[iconsize="small"][mode="icons"] > #nav-bar #forward-button,
    #back-btn, #forward-btn {
        min-width:      25px !important;
        max-width:      25px !important;
    }
    #navigator-toolbox[iconsize="small"][mode="icons"] > #nav-bar #back-button > .toolbarbutton-icon,
    #back-btn > .toolbarbutton-icon {
        margin-right: -1px;
    }
    #navigator-toolbox[iconsize="small"][mode="icons"] > #nav-bar #forward-button > .toolbarbutton-icon,
    #forward-btn > .toolbarbutton-icon {
        margin-left: -1px;
    }
}