/** 
 * Firefox OSX Conditionally Show BookmarksBar
 **
 * <p>Show bookmarks bar only when hovering tab-/toolbar and on home, newtab & blank pages. Hide default favicon for bookmarks that don't provide one.</p>
 * <p>Tested on Firefox 14 & 16 on OSX. <b>Not compatible with Windows.</b>
 * <p>Other styles from user 142430</p>
 **
 */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) 
{
    /*** show bookmarksbar when hovering toolbars & on certain pages ***/
    #PersonalToolbar:not([customizing]) {
        display: none !important;
    }
    #main-window[stylish-url="about:newtab"] #PersonalToolbar[collapsed="false"],
    #main-window[stylish-url="about:home"] #PersonalToolbar[collapsed="false"],
    #main-window[stylish-url="about:blank"] #PersonalToolbar[collapsed="false"],
    #navigator-toolbox:hover > #PersonalToolbar[collapsed="false"] {
        display: -moz-box !important;
    }
    #main-window:not([stylish-url="about:blank"]):not([stylish-url="about:home"]):not([stylish-url="about:newtab"]) #navigator-toolbox:hover > #PersonalToolbar[collapsed="false"]:not([customizing]) {
        position: absolute;
        margin-bottom: -22px;
    }
    /*** hide favicons when none given ***/
    #PlacesToolbarItems > .bookmark-item:not([image]):not([type]) > .toolbarbutton-icon {
        display: none !important;
    }
}