@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://mozapps/content/extensions/extensions.xul), url(about:addons)
{
/* lines without indendation (in this block) are meant to make normal & widescreen work together */
@media all and (min-width: 1001px) {
    /*******PUTs EVERYTHING AS ONE LINE******/
    #list-view .addon.addon-view { padding: 2px 12px 2px 7px !important;/*3px 4px 3px 0*/}
    
    #addon-list .icon-container,
    #addon-list .icon {
        max-height: 16px !important; /*24px*//*20px*/
        max-width: 16px !important; /*24px*//*20px*/
    }
    
    #addon-list .addon.addon-view .content-container,
    #addon-list .addon.addon-view .content-inner-container,
    #addon-list .addon.addon-view .icon-container,
    #addon-list .addon.addon-view .status-control-wrapper {
        -moz-box-orient: horizontal;
        -moz-box-align: center !important;
    }
    #addon-list .addon.addon-view */*:not(.button-text)*/ {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        margin-right: 0 !important;
        vertical-align: middle !important;
        white-space: nowrap !important;
    }
    
    #addon-list .icon-container,
    #addon-list .version,
    #addon-list .name,
    #addon-list .description,
    #addon-list .disabled-postfix,
    #addon-list .update-postfix,
    #addon-list .date-updated,
    #addon-list .details.buttton-link,
    #addon-list .relnotes-toggle,
    #addon-list .relnotes-container > * {
        margin-left: 5px !important;
    }
    
    /*** Version ABC ***/
    #addon-list .addon.addon-view .description-outer-container {
        padding-bottom: 1px !important;
    }
    #addon-list .addon.addon-view .button-text {
        margin-right: 4px !important;
    }
    #addon-list .addon.addon-view :-moz-any(.warning,.pending,.error) {
        margin-left: 25px !important;
    }
    
    #addon-list .addon.addon-view .name-container > * {
        font-size: 13px/*11px-16px*/ !important;
    }
    #addon-list .name,
    #addon-list .description {
        margin-left: 10px !important;
    }
    
    /*#addon-list .addon.addon-view :-moz-any(.name-container, .name) { font-size: 14px/12px !important; }
    #addon-list .addon.addon-view[active="true"]:not([selected]) .description {opacity: 0.5 !important;}*/

    /*************** Version D : TABLE LAYOUT ***************/
    /* hide "update available" notice, it's just too big */
    #addon-list .update-available-notice { display: none; }
    
    /* show update time */
    #list-view:not([type="userstyle"]) #addon-list .date-updated { display: -moz-box !important; }
    
    /* make sure we have a table layout */
    #addon-list .addon.addon-view * { white-space: nowrap !important; }
    #addon-list .details.button-link          { -moz-box-ordinal-group: 3 !important; }
    #addon-list .details.button-link + spacer { -moz-box-ordinal-group: 2 !important; }
    #addon-list .content-inner-container,
    #addon-list .advancedinfo-container,
    #addon-list .description-outer-container { display: inline-table !important; }

    /* calculate column width's */
    #addon-list .content-inner-container { width: 100% !important; max-width: 100% !important; }
    #addon-list .basicinfo-container     { min-width: 26em !important; width: -moz-calc(100% - 15px - (5px + 2.0em + 22px + 14em + 66px + 6.3em + 22px)) !important;  }
    
    #addon-list .advancedinfo-container      { min-width: -moz-calc(2.0em + 22px) !important; width: -moz-calc(10px + 2.0em + 22px + 14em + 66px + 6.3em + 22px) !important; }
    #addon-list .description-outer-container { min-width: -moz-calc(2.0em + 22px) !important; width: -moz-calc(100% + 10px - (14em + 66px + 6.3em + 22px)) !important; }
    #addon-list .description-container       { min-width: -moz-calc(2.0em + 22px) !important; width: -moz-calc(100% - 10px) !important; }
    #addon-list .description                 { min-width:  0em !important; width: 100%; }
    
    @media all and (min-width: 1000px) {   /*.content-inner-container width : vvv*/
        #addon-list .basicinfo-container    { width: -moz-calc(100% - (100% - 689px) * 0.5 - 15px - (5px + 2.0em + 22px + 14em + 66px + 6.3em + 22px)) !important;}
        #addon-list .advancedinfo-container { width: -moz-calc((100% - 689px) * 0.5 + 10px + 2.0em + 22px + 14em + 66px + 6.3em + 22px) !important; }
    }
    @media all and (min-width: 1005px) { #addon-list .description { padding-left: 5px !important; } }
    @media all and (min-width: 1300px) {   /*.content-inner-container width : vvv*/
        #addon-list .basicinfo-container    { width: -moz-calc(100% - (100% - 1002px) * 0.75 - (1002px - 689px) * 0.5 - 15px - (5px + 2.0em + 22px + 14em + 66px + 6.3em + 22px)) !important;}
        #addon-list .advancedinfo-container { margin-left: -moz-calc((100% - 1002px) * 0.1); }
        #addon-list .advancedinfo-container { width: -moz-calc((100% - 1002px) * 0.65 + (1002px - 689px) * 0.5 + 10px + 2.0em + 22px + 14em + 66px + 6.3em + 22px) !important; }
    }
    
    #addon-list .details.button-link { width: -moz-calc(2.0em + 22px) !important; } /* ( 43 - (6+4+1+3+4+4))/11 =  1.9090…em */
    #addon-list .control-container   { width: -moz-calc( 14em + 66px) !important; } /* (218-3*(6+4+1+3+4+4))/11 = 13.8181…em */
    #addon-list .status-container    { width: -moz-calc(6.3em + 22px) !important; } /* ( 91 - (6+4+1+3+4+4))/11 =  6.2727…em */
    /* => .status-control-wrapper : 20.0909em */

    /* fix installing state */
    #list-view > #addon-list > .addon.addon-view .install-status:not([hidden]) .cancel {
        margin: 1px !important;
    }
    .download-progress .progress .progress-bar  {
        min-height: 15px !important;
    }
    #addon-list .install-status:not([hidden]) .start-cap {
        margin: -1px 0 -1px -1px !important;
        height: 1.7em !important;
    }

    @media all and (max-width: 900px) { .category-name { display: none !important; } }

    /* add wide mode @ 1800px */
    @media all and (min-width: 1200px) {
        #addons-page {
            -moz-box-align: center !important;
            margin: auto !important;
        }
        #addons-page > hbox {
            width: 1200px !important;
        }
        .category[selected] {
            border-left-color: rgba(50, 65, 92, 0.4) !important;
            border-top-left-radius: 5px !important;
            border-bottom-left-radius: 5px !important;
        }
        #view-port-container {
            border-radius: 5px !important;
            margin-bottom: 5px !important;
            border-style: solid !important;
        }
    }
}
}