@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://mozapps/content/extensions/extensions.xul), url(about:addons)
{
    /*** ABANDONED : box shadow for list, overlay would be hack a or needs a reimplementation ***/
    .view-header.global-info-container,
    .view-header.global-warning-container,
    #userstyle-sorting { box-shadow: 0px 2px 4px -2px rgba(0,0,0,0.3); }
    
    /*** ABANDONED : more space for releasenotes ***/
    #categories[last-selected="category-recentUpdates"] + #view-port-container .description-outer-container {
        margin-right: -220px !important;
    }
    #categories[last-selected="category-recentUpdates"] + #view-port-container .update-available[hidden="true"] {
        display: -moz-box !important;
        visibility: hidden;
        margin-bottom: -30px !important;
    }
    #categories[last-selected="category-availableUpdates"] + #view-port-container .description-outer-container {
        margin-right: -100px !important;
    }
    #categories[last-selected="category-recentUpdates"] + #view-port-container .description {
        max-width: 280px !important;
    }
    /* fix if combined with : trim notifications & pending */
    #categories[last-selected="category-recentUpdates"] + #view-port-container .addon[pending="disable"] .status-control-wrapper {
        display: none !important;
    }
    
    /*** ABANDONED : overflow instead of showing scrollbars ***/
    #view-port-container {
        min-width: 635px !important;
    }
    
    /*** ABANDONED : trim notifications & pending (other version) ***/
    .addon:-moz-any([notification],[pending]) :-moz-any(.warning,.error,.pending) {
        padding-top: 5px;
        margin-bottom: 5px;
    }
    .addon[notification] .content-container,
    .addon[pending] .content-container {
        display: none !important;
    }
    
    /*** ABANDONED : available Updates : pending=enable half hearted width fix ***/
    #updates-list .relnotes-toggle { display: -moz-box !important; }
    #updates-list .pending .button-link {
        margin-top: 40px !important;
        margin-bottom: -58px !important;
    }
    #updates-list .pending .button-link:first-of-type {
        margin-left: -138px !important;
    }
    
    /*** ABANDONED : round button for "more" ***/
    #addon-list .details.button-link {
        display: none;
    }
    .addon-control.preferences {
        margin-right:380px!important;
        border-radius: 50000px !important;
        height: 20px !important;
        min-width: 20px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    #addon-list .addon-control.preferences * {
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    #addon-list .addon-control.preferences .button-text {
        margin: -1px -5px 1px 5px !important;
        font-size: 12px !important;
        content: "▸";
    }
    
    /********************* DESIGNER STUFF *********************/
    /* remove background gradient & color for disabled addons */
    .addon-view[active="false"]:not([pending]):not([notification]):not([selected]) {
        background-color: rgba(135, 135, 135, 0.15) !important;
        background-image: none !important;
    }
    
    /* change background color of selected addon */
    .addon-view[selected="true"] {
        background: rgba(148, 172, 204, 0.39) !important;
    }
    /* hover background color effect for addons entry */
    .addon.addon-view:hover:not([selected="true"]) {
        background-color: rgba(135, 135, 135, 0.1) !important;
    }
    
    /* greener background for addons waiting restart to install/activate/upgrade */
    .addon-view[pending="enable"],
    .addon-view[pending="upgrade"],
    .addon-view[pending="install"] {
        background-image: url(chrome://mozapps/skin/extensions/stripes-info-positive.png),
                        -moz-linear-gradient(rgba(0, 255, 0, 0.09),
                                             rgba(0, 255, 0, 0.05)) !important;
        background-repeat: repeat-x !important;
    }
    
    /* hide "more" button when not selected */
    .addon:not([selected="true"]) .details.button-link {
        visibility: hidden !important;
    }

    /* allow selection of addon title and description text (not version)
    to copy content using shortcut keys (ie. ctrl+c) */
    #detail-name, #detail-fulldesc, #detail-desc {
        -moz-user-select: text !important;
        cursor: text !important;
    }
    
    /* Fix scrolling lags issues */
    #addons-page * { border-radius: 0 !important; }
    
    /* hide the message 'add-on compatibility checking is disabled....' */
    .global-warning-checkcompatibility {
        display: none !important;
    }
    
    /* remove message about incompatible addon */
    #list-view > #addon-list .warning {
        display: none !important;
    }
    /* remove yellow zebra background from incompatible addons */
    .addon-view[notification="warning"] {
        background: none !important;
    }
    /* remove background color for some disabled addons */
    .addon-view[active="false"] {
        background: none !important;
    }
    
    /* Hide Add-on Buttons Until Selection */
    .details-container.fade > *:nth-child(2),
    .addon:not([selected="true"]) .control-container {
        visibility: hidden !important;
    }
    
    /* hide discover category */
    #category-discover { display: none !important; }
    
    /* show empty categories */
    .category[hidden="true"] {
        display: -moz-box;
    }
    /* always show discover category */
    .category[disabled] {
        height: 52px !important;
        opacity: 1 !important;
    }
    
    /* Show last-updated-date on selected or all add-ons */
    /* BROKEN with listitem trimming (even ::after w/ position:fixed)*/
    #list-view:not([type="userstyle"]) .addon/*[selected="true"]*/ .date-updated {
        display: -moz-box !important;
    }
    
    /* DUAL PANE LAYOUT */
    #view-port:not([selectedIndex="0"]) { display: -moz-box !important; }
    #view-port:not([selectedIndex="1"]) #search-view,
    #view-port[selectedIndex="1"] #list-view,
    #view-port:not([selectedIndex="0"]) #discover-view,
    #view-port:not([selectedIndex="3"]) #updates-view,
    #view-port[selectedIndex="3"] .view-pane:not(#updates-view):not(#detail-view) { display: none !important; }
    
    deck:not([selectedIndex="0"]) #detail-view {
        min-width: 600px !important;
        max-width: 600px !important;
    }
}