@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://mozapps/content/extensions/extensions.xul), url(about:addons)
{
/* lines without indendation (in this block) are meant to make normal & widescreen work together */
@media all and (max-width: 1000px) {
    /* add wide mode */
    @media all and (min-width: 1065px) {
        #addons-page {
            -moz-box-align: center !important;
            margin: auto !important;
        }
        #addons-page > hbox {
            width: 1065px !important;
        }
        .category[selected] {
            border-left-color: rgba(50, 65, 92, 0.4) !important;
            border-top-left-radius: 5px !important;
            border-bottom-left-radius: 5px !important;
        }
        #view-port-container {
            border-radius: 5px !important;
            margin-bottom: 5px !important;
            border-style: solid !important;
        }
    }
    
    /************************** LIST ITEMS STYLE ***************************/
    /* trim list items padding */
    .addon:not([pending="uninstall"]) {
        padding: 0px 5px !important;
    }
    .icon-container {
        margin: 2px 7px !important;
    }
    .icon-container .icon {
        max-height: 40px !important;
    }
    .name-container > *, .date-updated {
        margin: 7px 6px -2px !important;
    }
    .description-container {
        margin-top: 6px !important;
        margin-bottom: 6px !important
    }
    .details.button-link {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    
    .update-available, .install-status {
        margin-top: -25px;
    }
    .status-container .addon-control {
        margin-top: 4px !important;
        margin-bottom: 1px !important;
    }
    .control-container .addon-control {
        margin-top: 4px !important;
        margin-bottom: 4px !important;
    }
    /* fix update progress */
    #list-view .install-status {
        margin-top: -54px !important;
    }
    /* fix notification & pending */
    .addon:not([pending="uninstall"]) :-moz-any(.warning,.error,.pending) {
        padding-top: 5px;
        margin-bottom: -5px;
    }
    /* fix style in available/recent updates & search */
    .relnotes-toggle {
        margin-top: -1px !important;
        margin-bottom: 4px !important;
    }
    #updates-list .include-update {
        margin-bottom: 1px !important;
    }
    #search-list .status-container .addon-control,
    #updates-list .addon-control.update {
        margin-bottom: 4px !important;
    }
    #updates-list .control-container > * {
        margin-top: 1px !important;
    }
    
    /* perfect control & update button style */
    #addon-list .addon.addon-view .button-text {
        margin-right: 3px !important;
    }
    #addon-list .addon.addon-view :-moz-any(.addon-control.preferences,.addon-control.update) .button-text {
        margin-right: 4px !important;
    }
    
    /* perfect installing style */
    .addon[status="installing"][notification="warning"] .name-outer-container,
    .addon[status="installing"][notification="warning"] .install-status-container {
        max-height: 30px !important;
    }
    .addon[status="installing"] .name-outer-container,
    .addon[status="installing"] .install-status-container {
        max-height: 36px !important;
        margin: 12px 0px 16px !important;
    }
    
    /* trim notifications & pending VERSION A */
    /* REQUIRES : hide category names @ ≤860px, ultrasmall @ ≤710px     */
    /* and even then will look bad when pending on a long named addon   */
    /* (>19 chars)at an increasing number of window widths (and <666px) */
    .addon[notification] .description,
    .addon[pending]:not([pending="uninstall"]) .description {
        display: none !important;
    }
    .addon[notification] .details.button-link,
    .addon[pending]:not([pending="uninstall"]) .details.button-link {
        margin-left: -8px !important;
    }
    .addon[notification] .warning > *,
    .addon[pending]:not([pending="uninstall"]) .pending > * {
        position: absolute;
        white-space: nowrap;
    }
    .addon[notification] .warning > * {
        margin-top: 26px !important;
        margin-bottom: -41px !important;
    }
    .addon[pending]:not([pending="uninstall"]) .pending > * {
        margin-top: 25px !important;
        margin-bottom: -43px !important;
    }
    .addon[notification] .warning > *:first-child,
    .addon[pending]:not([pending="uninstall"]) .pending > *:first-child {
        margin-left: 60px !important;
    }
    .addon:-moz-any([pending="enable"],[pending="disable"],[pending="install"]) .control-container {
        visibility: hidden !important;
    }
    /* fixes for recent Updates */
    #categories[last-selected="category-recentUpdates"] + #view-port-container .update-available {
        margin-top: -2px !important;
    }
    #categories[last-selected="category-recentUpdates"] + #view-port-container .addon:-moz-any([pending="enable"],[pending="disable"],[pending="install"]) .update-available {
        margin-top: 23px !important;
        margin-bottom: -25px !important;
    }
    @media all and (max-width: 860px) { .category-name { display: none !important; } }
}
}