@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://mozapps/content/extensions/extensions.xul), url(about:addons)
{
/* lines without indendation (in this block) are meant to make normal & widescreen work together */
@media all and (min-width: 1001px) {
    /* effective min-width is at 700px (+ categories), max-width ~1400px */
    /*******PUT EVERYTHING AS ONE LINE******/
    #list-view:-moz-any([type="userstyle"],[type="extension"]) .addon {
        padding: 2px 10px 2px 5px !important;/*2px 5px 2px 0*/
    }
    
    #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .icon-container,
    #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .icon {
        max-height: 16px !important;/*20/24px*/
        max-width: 16px !important; /*20/24px*/
    }
    
    #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .content-container,
    #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .content-inner-container,
    #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .icon-container,
    #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .status-control-wrapper {
        -moz-box-orient: horizontal;
        -moz-box-align: center !important;
    }
    #list-view:-moz-any([type="userstyle"],[type="extension"]) .addon */*:not(.button-text)*/ {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        margin-right: 0 !important;
        vertical-align: middle !important;
        white-space: nowrap !important;
    }
    
    #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .icon-container,
    #list-view #addon-list .name-container,
    #list-view #addon-list .name,
    #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .version,
    #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .disabled-postfix,
    #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .update-postfix,
    #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .description-container,
    #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .description,
    #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .details.button-link,
    #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .status-control-wrapper {
        margin-left: 5px !important;
    }
    #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .name,
    #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .date-updated,
    #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .description {
        margin-left: 10px !important;
    }
    
    #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .button-text {
        margin-right: 4px !important;
    }
    
    /*** Version ABC ***/
    #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .description-outer-container {
        padding-bottom: 1px !important;
    }
    #list-view:-moz-any([type="userstyle"],[type="extension"]) .addon :-moz-any(.warning,.pending,.error) {
        margin-left: 25px !important;
    }
    #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .name-container > * {
        font-size: 13px/*11-16px*/ !important;
    }
    /* dim description of actvie addons *
    #list-view:-moz-any([type="userstyle"],[type="extension"]) .addon[active="true"]:not([selected]) .description {
        opacity: 0.5 !important;
    }
    
    /* fix installing state */
    #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .install-status:not([hidden]) .cancel {
        margin: 1px !important;
    }
    #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .download-progress .progress .progress-bar  {
        min-height: 15px !important;
    }
    #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .install-status:not([hidden]) .start-cap {
        margin: -1px 0 -1px -1px !important;
        height: 1.7em !important;
    }
    /*************** Version D : TABLE LAYOUT ***************/
    /* hide "update available" notice, it's just too big */
    #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .update-available-notice { display: none; }
    
    /* show update time */
    #list-view:-moz-any([type="userstyle"],[type="extension"]):not([type="userstyle"]) #addon-list .date-updated { display: -moz-box !important; }
    
    /* make sure we have a table layout */
    #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .addon *                 { white-space: nowrap !important; }
    #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .content-inner-container { display: inline-table !important; }
    
    /* reverse, trim description & more-button */
    #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .addon .description                  { -moz-box-ordinal-group: 2 !important; }
    #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .addon .details.button-link          { -moz-box-ordinal-group: 1 !important; }
    #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .addon .details.button-link + spacer { -moz-box-ordinal-group: 3 !important; }
    #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .addon .description-container { margin-left: 1px !important; }
    #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .addon .description           { margin-left: 6px !important; }

    /* calculate column width's */
    #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .content-inner-container { width: 100% !important; max-width: 100% !important; }
    
    #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .basicinfo-container     { min-width: 26em !important; width: -moz-calc(100% - (5px + 2.0em + 22px + 14em + 66px + 6.3em + 22px)) !important;  }   
    #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .advancedinfo-container  { min-width: -moz-calc(2.0em + 22px) !important; width: -moz-calc(5px + 2.0em + 22px + 14em + 66px + 6.3em + 22px) !important; }

    @media all and (min-width: 1000px) {   /*.content-inner-container width : vvv*/
        #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .basicinfo-container    { width: -moz-calc(100% - (100% - 761px) * 0.5 - (5px + 2.0em + 22px + 14em + 66px + 6.3em + 22px)) !important;}
        #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .advancedinfo-container { width: -moz-calc((100% - 761px) * 0.5 + 5px + 2.0em + 22px + 14em + 66px + 6.3em + 22px) !important; }
    }
    @media all and (min-width: 1150px) {   /*.content-inner-container width : vvv*/
        #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .basicinfo-container    { width: -moz-calc(100% - (100% - 911px) - (911px - 761px) * 0.5 - (5px + 2.0em + 22px + 14em + 66px + 6.3em + 22px)) !important;}
        #list-view:-moz-any([type="userstyle"],[type="extension"]) #addon-list .advancedinfo-container { width: -moz-calc((100% - 911px) + (911px - 761px) * 0.5 + 5px + 2.0em + 22px + 14em + 66px + 6.3em + 22px) !important; }
    }
    /*
    #addon-list .details.button-link { width: -moz-calc(2.0em + 22px) !important; } /* ( 43 - (6+4+1+3+4+4))/11 =  1.9090…em *
    #addon-list .control-container   { width: -moz-calc( 14em + 66px) !important; } /* (218-3*(6+4+1+3+4+4))/11 = 13.8181…em *
    #addon-list .status-container    { width: -moz-calc(6.3em + 22px) !important; } /* ( 91 - (6+4+1+3+4+4))/11 =  6.2727…em */
    /* => .status-control-wrapper : 20.0909em */

    @media all and (max-width: 900px) { .category-name { display: none !important; } }

    /* add wide mode @ 1800px */
    @media all and (min-width: 1200px) {
        #addons-page {
            -moz-box-align: center !important;
            margin: auto !important;
        }
        #addons-page > hbox {
            width: 1200px !important;
        }
        .category[selected] {
            border-left-color: rgba(50, 65, 92, 0.4) !important;
            border-top-left-radius: 5px !important;
            border-bottom-left-radius: 5px !important;
        }
        #view-port-container {
            border-radius: 5px !important;
            margin-bottom: 5px !important;
            border-style: solid !important;
        }
    }
}
}