/** 
 * Collapse favicon, progress indicator & closebutton
 **
 * <p>Show close button on hover, else favicon/progress indicator. <b>Only applies to selected tab!</b></p>
 * <p>Tested on Firefox 13 & 15 on OSX, 12 & 15 Win7. <b>Not compatible with many tab extensions.</b>
 * <p>Other styles from user 142430</p>
 **
 * Not compatible extensions: "Progress Bar on Tab", "Informational Tab", "Tabextensions 3" and "Tree Style Tab". (probably every extension altering tab layout...)
 * 2012-05-27 : updated to work without using rendering bugs...
 */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul)
{
    /* swap text & close button */
    .tabbrowser-tab .tab {
        -moz-box-ordinal-group: 3 !important;
    }
    .tabbrowser-tab .tab-label {
        -moz-box-ordinal-group: 4 !important;
    }
    
    /* hide close button initially */
    .tabbrowser-tab .tab-close-button {
        display: none !important;
    }
    /* position correctly on windows */
    #main-window[stylish-platform="Win32"] .tab-close-button { margin: 0 3px 0 2px !important; }
    
    /* show close + hide throbber & favicon on hover */
    .tabbrowser-tab[selected]:not([pinned]):hover .tab-close-button {
        display: block !important;
    }
    .tabbrowser-tab[selected]:not([pinned]):hover .tab-icon-image {
        display: none !important;
    }
    .tabbrowser-tab[selected]:not([pinned]):hover .tab-throbber {
        display: none !important;
    }
    
    /* trim title padding */
    .tabbrowser-tab:not([pinned]) .tab-text {
        margin-right: 0px !important;
    }
}