/** 
 * Firefox OSX Favicon Tabs
 **
 * <p>Hides the tab title, shrinks tab width to 29px when overflowing. Only tested with style 66179</p>
 * <p>Tested on Firefox 13 & 15 on OSX. <b>Untested on Windows.</p>
 * <p>Other styles from user 142430</p>
 **
 * 2012-06-08: if you don't use style 66179, uncomment the last two rules
 * 2012-06-08: when not overflowing tabs are now of normal width
 */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) 
{
    /*** favicon tabs ***/
    #tabbrowser-tabs .tabbrowser-tab:not([pinned]) {
        min-width: 29px !important;
        /*max-width: 290px !important;*/
    }
    /* shortly before overflowing, hover bckaground will bleed over righthand tab, ideally we'd do: .tabbrowser-tab(max-with < 60px) .tab-text.tab-label { display: none; } */
    #tabbrowser-tabs[overflow] .tabbrowser-tab .tab-text.tab-label {
        display: none;
    }
    /* 1px min/max difference on tab[selected] is needed so closed tabs disappear. (tabs with close button) */
    /*#tabbrowser-tabs[overflow] .tabbrowser-tab:not([pinned])[selected] {
        min-width: 42px !important;
    }
    #tabbrowser-tabs[overflow] .tabbrowser-tab:not([pinned])[selected] .tab-close-button {
        margin: 0 -4px 0 1px !important;
    }*/
}