/** 
 * Firefox Tab Hover QuickTip Fixed Position
 **
 * <p>When hovering over a tab, show the tab title in the space where the urlbar is.</p>
 * <p><b>If you have not just the back/forward buttons before the urlbar, "use small icons" and don't use style 66175, the positioning may be unpractical.</b></p>
 * <p>Inspired by other quicktip styles which don't work once tabs overflow (at least on OSX).</p>
 * <p>Tested on Firefox 13 & 15 on OSX. <b>Untested on Windows.</b></p>
 * <p>Other styles from user 142430</p>
 **
 */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) 
{
    /*** overlay tab title on hover over navbar ***/
    /* #1 : title gets truncated on far right tabs */
    /* #2 : doesn't work on tab-overflow's far right tabs */
    /* fix possible by fixed location, but counterintuitive */
    #tabbrowser-tab-tooltip {
        display: none !important;
    }
    .tabbrowser-tab::before {
        content: attr(label);
        margin-top: 30px;
        margin-left: -6px;
        white-space: nowrap;
        /* generic hover style */
        position: fixed;
        padding: 4px 6px;
        color: white;
        background: rgba(0,0,0,0.9);
        border-radius: 4px;
        box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
        display: none;
    }
    .tabbrowser-tab:hover::before {
        display: -moz-box;
        left:72px; /* fix #1 & #2 */
    }
}