/** 
 * Firefox Highlight unread, unloaded, updated Tabs
 **
 * <p>Colors unread & updated tabs golden. Dims unloaded tabs.</p>
 * <p>Tested on Firefox 13 & 15 on OSX. <b>Untested otherwise!</b></p>
 * <p>Other styles from user 142430</p>
 **
 */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) 
{
    /*** highligh unread and unloaded tabs ***/
    .tabbrowser-tab[pending] .tab-content > * { opacity: .35 !important; }
    /*.tabbrowser-tab[pinned][label*="("][label*="Buzz"]:not([selected]) .tab-background > *,
    .tabbrowser-tab[pinned][label*="("][label*="Gmail"]:not([selected]) .tab-background > *,
    .tabbrowser-tab[pinned][label*="("][label*="Reader"]:not([selected]) .tab-background > *,
    .tabbrowser-tab[pinned][label*="("][label*="Facebook"]:not([selected]) .tab-background > *,
    .tabbrowser-tab[pinned][titlechanged][label*="says"]:not([selected]) .tab-background > *,
    http://www.userstyles.org/styles/36232/notification-for-app-tabs*/
    .tabbrowser-tab[unread]:not([selected]) .tab-background > *,
    .tab-background[titlechanged]:not([selected]) > * {
        background-image: -moz-linear-gradient(transparent 70%, rgba(0, 0, 0, 0.12)), -moz-linear-gradient(rgba(255,185,0,0),rgba(255,185,0,0.6) 90%/*rgba(148, 205, 253, 0.05), rgba(148, 205, 253, 0.6)*/) !important;
        background-clip: padding-box !important;
        /*border-bottom: 1px solid transparent !important;*/
    }
    .tabbrowser-tab[unread] .tab-text.tab-label { font-style: italic; }
}